@media only screen and (max-width: 500px) {
    .container{
        height: 100%;
        border-radius: 0%;
    }
        
    label,input{
        display: flex;
        justify-content: space-between;
        margin: 10px 0px 10px 0px;
    }
        
    .result{
        width: 100%;
        height: auto;
        font-size: 20px;
    }

    .btn-box{
        display: block;
    }

    .btn , .btn-clear{
        margin: 10px;
        font-size: 20px;
        width: 100%;
        float: none;
    }
}